{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<main>
    <div class="container">
          {{ range .Page.Params.weeks }}
          <div class="seminar" id="{{ .date }}" href="{{ .date }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                  {{ dateFormat "Monday, Jan 2, 2006" .date }} {{ $.Param "startTime" }}&ndash;{{ $.Param "endTime" }}
                  <h2>{{ .title }}</h2>
                </div>

                <div class="panel-body">
                  {{ with .speakers }}
                      {{ range . }}
                      <ul class="speakers">
                        {{ partial "seminars/speaker.html" . }}
                      </ul>
                      {{ end }}
                  {{ end }}
                  {{ if isset(.abstract)}}
                      <p>
                          {{ .abstract | markdownify }}
                      </p>
                  {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</main>

{{ partial "footer.html" . }}
